@import '../../node_modules/bootstrap/scss/bootstrap';


@font-face {
    font-family: Futura ;
    src: url('../../assets/fonts/Futura\ Bold.otf') format('opentype');
    font-style: italic;
}

h2{
    font-family: 'Futura', sans-serif;
    margin-bottom: 16px;
}


.plans{
    background-image: url('../../dist/images/planos.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

.imagem-escala {
    transition: transform 0.3s;
    &:hover{
        transform: scale(1.1); 
    }
}

.imagem-escala:hover {
   /* Quando o mouse passa por cima, a imagem é escalada para 110% do tamanho original */
}







